
-# def show_applied_facets
-#   appliedfacets = '';
-#   if session[:results]['SearchRequestGet']['SearchCriteriaWithActions']['FacetFiltersWithAction'].present?
-#     session[:results]['SearchRequestGet']['SearchCriteriaWithActions']['FacetFiltersWithAction'].each do |appliedfacet|
-#       appliedfacet.each do |key, val|
-#         if key == "FacetValuesWithAction"
-#           val.each do |facetValue|
-#             appliedfacets << '<span class="btn-group appliedFilter constraint filter filter-' + facetValue['FacetValue']['Id'].to_s.gsub("EDS","").gsub(" ","").titleize + '"><a class="constraint-value btn btn-sm btn-default btn-disabled" href="' + request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=" + CGI.escape(facetValue['RemoveAction'].to_s) + '"><span class="filterName">' + facetValue['FacetValue']['Id'].to_s.gsub("EDS","").titleize + '</span><span class="filterValue">' + facetValue['FacetValue']['Value'].to_s.titleize + '</span></a><a class="btn btn-default btn-sm remove dropdown-toggle" href="' + request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=" + CGI.escape(facetValue['RemoveAction'].to_s) + '"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">Remove filter ' + facetValue['FacetValue']['Id'].to_s.gsub("EDS","").titleize + ':' + facetValue['FacetValue']['Value'].to_s.titleize + '</span></a></span>'
-#           end
-#         end
-#       end
-#     end
-#   end
-#   return appliedfacets.html_safe
-# end

- session[:results]['SearchRequestGet']['SearchCriteriaWithActions']['FacetFiltersWithAction'].each do |appliedfacet|

  - appliedfacet.each do |key, val|
    - if key == "FacetValuesWithAction"
      - val.each do |facetValue|
        - cleanId = facetValue['FacetValue']['Id'].to_s.gsub("EDS","")
        - filterClass = 'filter-' + cleanId.gsub(" ","").titleize
        - removeHref = request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=" + CGI.escape(facetValue['RemoveAction'].to_s)
        .constraint-box
          %span.filterValue #{cleanId.titleize}: #{facetValue['FacetValue']['Value'].to_s.titleize}
          %a{href: removeHref}
            %span.glyphicon.glyphicon-remove

