
%h3= t('blacklight.welcome')

.well
  %h4
    EDS Searching

  To experiment with searching EDS, just select the EDS datasource
  on the left and search.  The Summon (Articles) datasource is also
  available for comparison.  
  %br
  %br
  %strong
    Side-by-side aggregate searching between
    these two datasources is not possible yet.

.well
  %h4
    Scoped Searching

  Visit
  %strong= link_to "Scoped Quick Search", scoped_simple_path
  to try out Scoped Searching against EDS, 

.well
  %h4
    QuickSet Management
  Authorized users will be able to 
  %strong= link_to "Manage Quick Sets", quick_set_index_path

