
// Add a few styles specific to the EDS integration.
// (e.g., overrides with greater specificity)

ul.facet-values
  li
    label
      font-size: 80%
      font-weight: normal
      padding-left: 0.5em


div.document
  dl.dl-horizontal
    dd
      margin-left: 120px



