
-# NEXT-1154 - Footer
-#  "the same footer as is in use for the web site"
= render :partial => "/library_web_footer"


/ footer partial begin
#ft
  = @footer
  = render :partial => "/async_setting"
  = render :partial => "/debug_mode"

  .clear-both
  / div.clear-both end

/ footer partial end


