
-# The site footer HTML, copied from Library Web,
-# adjusted for CLIO outer containers,
-# converted to HAML, 
-# updated to Bootstrap 3


#site_footer
  %h1.hide
    CUL - Footer
  
  .row
    %section.col-sm-8
      %h2.hide
        General Contact

      %p
        535 West 114th St.
        New York, NY 10027

        Telephone
        (212) 854-7309

        Fax
        (212) 854-9099 

      %p
        <a href="http://www.columbia.edu/content/copyright.html" title="© Columbia University Libraries">Copyright</a>
        |
        <a href="http://library.columbia.edu/about/policies.html">Policies</a>
        |
        <a class="feedback-popup" href="#" data-feedback-track-location="footer">Suggestions &amp; Feedback</a>
        |
        <a href="#">Terms of Service</a>
        |
        <a href="http://library.columbia.edu/about/staff.html">Contact Us</a>
        |
        <a href="http://library.columbia.edu/about.html">About Us</a>


    %aside.col-sm-4
      %h2.hide
        Etc.

      %p.pull-right
        <a data-toggle="tooltip" title="Follow us on Twitter" href="https://twitter.com/columbialib" class="thumbnail"> 
        <img src="//cdn.cul.columbia.edu/ldpd-toolkit/build/img/twitter-icon-sq.png" alt="twitter">
        </a>
        <a data-toggle="tooltip" title="Visit us on Facebook" href="https://www.facebook.com/culibraries" class="thumbnail"> 
        <img src="//cdn.cul.columbia.edu/ldpd-toolkit/build/img/facebook-icon-sq.png" alt="facebook">
        </a>
        <a data-toggle="tooltip" title="Visit us on Foursquare" href="https://foursquare.com/venue/135050" class="thumbnail"> 
        <img src="//cdn.cul.columbia.edu/ldpd-toolkit/build/img/foursquare-icon-sq.png" alt="foursquare">
        </a>
        <a data-toggle="tooltip" title="Visit the CUL Blogs" href="https://blogs.cul.columbia.edu/spotlights/" class="thumbnail"> 
        <img src="//cdn.cul.columbia.edu/ldpd-toolkit/build/img/culblog-icon-sq.png" alt="culblogs">
        </a>
        <a data-toggle="tooltip" title="Subscribe to our RSS Feed" href="https://blogs.cul.columbia.edu/spotlights/feed/" class="thumbnail"> 
        <img src="//cdn.cul.columbia.edu/ldpd-toolkit/build/img/rss-icon-sq.png" alt="rss">
        </a>
